body{
    padding: 0;
    margin: 0;
}
form{
    margin:5% auto 0;
    padding: 20px;
    width: 250px;
    text-align: center;
}
h2{
    color: rgb(6, 6, 58);
}
.em{
    margin: 0%;
    width: 250px;
    border-radius: none;
    padding: 4px;
}
.em{
    margin: 0%;
    width: 250px;
    border-radius: none;
    padding: 4px;
}

#but{
        color:rgb(238, 235, 235);
        background-color: rgb(5, 89, 173);
        margin: 0px;
        border-radius: none;
        padding: 6px;
        width: 250px;

}
#sn{
    margin: 5%;
    width: 250px;
    padding: 4px;
}

hr{
    width: 150px;
}
p{
    text-align: center;
}
#my{
    text-decoration: none;
}

.em:hover{
border-color:blue;
}
h4{
    margin: 0%;
}